
<div class="sidebar-box popular">
    <div class="content-header">
        <h3>Popular</h3>
        <%= image_tag("trending.svg", class: "svg") %>
    </div>
    
    <hr>

    <% if Post.popular_posts.empty? %>
                No popular post
    <% end %>
    
    <% Post.popular_posts.each do |post| %>
       <%= link_to post_path(post), data: { turbo_frame: "main_content_frame" } do %>
            <div class="box-content">
                <div class="title">
                    <%= post.title %>
                </div>
            </div>
        <% end %>
    <% end %>
</div>
