<%# app/views/pages/home.html.erb %>
<!-- This is the content of the home page -->
<!-- It will be rendered inside the layout -->
<!-- app/views/layouts/application.html.erb -->
<!-- The layout will be rendered inside the application layout -->
<!-- app/views/layouts/application.html.erb -->


<div class="home">
    <div class="home-banner">
        banner
    </div>
    <div class="home-content">
        <%= render template: "posts/index" %>
    </div>
    <div class="home-right-bar">
        sidebar
    </div>
</div>
