<%# app/views/pages/index.html.erb %>
<!-- This is the content of the home page -->
<!-- It will be rendered inside the layout -->
<!-- app/views/layouts/application.html.erb -->
<!-- The layout will be rendered inside the application layout -->
<!-- app/views/layouts/application.html.erb -->


<div class="container <%= "home" unless @category  %>">
    <% unless @category %>
        <div class="banner">
            banner
        </div>
    <% end %>
    
    <%= turbo_frame_tag "turbo_post", class: "content" do %>
        
        <%= render template: "posts/index" %>
        
    <% end %>

    <div class="sidebar">
        sidebar
    </div>
</div>
