<%# app/views/pages/home.html.erb %>
<!-- This is the content of the home page -->
<!-- It will be rendered inside the layout -->
<!-- app/views/layouts/application.html.erb -->
<!-- The layout will be rendered inside the application layout -->
<!-- app/views/layouts/application.html.erb -->

<%= turbo_frame_tag "main_content_frame", class: "content-main", data: { turbo_action: "advance" } do %>
    <% unless (@category || request.path == new_post_path) %> 
        <div class="content-main-banner">
            <%= content_tag(:div, "", data: { controller: "threejs", threejs_target: "canvas"}, class: "canvas") %>
        </div>
    <% end %>

    <%= render template: "posts/index" %>
<% end %>
