@use '../mixins' as *;


.content-main {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);

    .content-main-banner {
        // max-width: 100%;
        border: var(--border-light);
        background-color: var(--color-white);
        padding: var(--space-m);
    }

    .content-main-container {
        border: var(--border-light);
        background-color: var(--color-white);
        padding: var(--space-l);
    }
}

.content-sidebar {

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    // margin-right: var(--space-l);
}



/* Media Query for small screens */
// @media (max-width: 768px) {
//     .container {
//         grid-template-columns: 1fr;
//         grid-template-areas:
//             "main main";
//     }
//     .container.home {
//         grid-template-areas:
//             "banner banner"
//             "main main";
//     }

//     .banner {
//         grid-area: banner;
//         border: var(--border-light);
//         background-color: var(--color-white);
//         padding: var(--space-m);
//     }
//     .content {
//         grid-area: main;
//         border: var(--border-light);
//         background-color: var(--color-white);
//         padding: var(--space-m);
//         // margin-right: -23px;
//     }
    
//     .sidebar {
//         grid-area: sidebar;
//         display: none;
//     }
// }