@use '../mixins' as *;

.main {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    color: black;
    max-width: 1100px;
    // border: solid 1px black;
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto;
    grid-template-areas:
        "main sidebar"
        "main sidebar";
    gap: var(--space-l);
    height: 100%;
    
}
.container.home {
    grid-template-areas:
        "banner banner"
        "main sidebar";
}
.banner {
    grid-area: banner;
    border: var(--border-light);
    background-color: var(--color-white);
    padding: var(--space-m);
}
.content {
    grid-area: main;
    border: var(--border-light);
    background-color: var(--color-white);
    padding: var(--space-m);
}

.sidebar {
    grid-area: sidebar;
    border: var(--border-light);
    background-color: var(--color-white);
    padding: var(--space-m);
}


/* Media Query for small screens */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "main main";
    }

    .banner {
        grid-area: banner;
        border: var(--border-light);
        background-color: var(--color-white);
        padding: var(--space-m);
    }
    .content {
        grid-area: main;
        border: var(--border-light);
        background-color: var(--color-white);
        padding: var(--space-m);
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .sidebar {
        grid-area: sidebar;
        display: none;
    }
}