@use '../mixins' as *;

header {
    width: 100%;
    background-color: hsl(217, 22%, 12%);
    margin: 0 auto;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 65px;
    max-width: 1100px;
    margin: 0 auto;

    
    // padding: 20px;
    // border: var(--border-light);

    .logo {
        color: var(--color-text-white); 
    }
    nav {
        display: flex;
        // justify-content: start;
        align-items: center;
        gap: var(--space-l);
        z-index: 2;
        position: relative;
    }
    .logins {
        display: flex;
        align-items: center;
        gap: var(--space-m);
        z-index: 2;
        .btn {
            vertical-align: middle;
        }
    }

    a {
        color: white;
        font-weight: bold;
        font-size: var(--font-size-s);
    }
    a:hover {
        color: var(--color-primary-rotate);
    }
}