@use '../mixins' as *;

// header {
//     width: 100%;
//     background-color: hsl(217, 22%, 12%);
//     margin: 0 auto;
// }


header .header-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: var(--space-m);
    padding-right: var(--space-m);
    height: 65px;
    max-width: 1100px;
    margin: 0 auto;
    gap: 30px;

    position: relative;
    .logo {
        color: var(--color-text-white); 
    }

    .logins {
        display: inline-flex;
        margin-left: auto; 
        gap: var(--space-m);
        .btn {
            vertical-align: middle;
        }
        img {
            // border: solid 1px white;
        }

    }

    a {
        color: white;
        font-weight: bold;
        font-size: var(--font-size-s);
    }
    a:hover {
        color: var(--color-primary-rotate);
    }
}



nav {
    display: flex;
    // justify-content: start;
    align-items: center;
    gap: var(--space-l);
    z-index: 2;
    position: relative;
}

.create-button-container {
    position: relative;
    z-index: 2;
}

/* Hamburger icon - hidden by default */
.hamburger {
    display: none;
    cursor: pointer;
}

/* Media Query for small screens */
@media (max-width: 768px) {
    
    /* Hide the navigation links on small screens */
    nav {
        position: absolute;
        top: 60px;
        left: -20px;
        gap: 0px;
        display: none;
        flex-direction: column;
        align-items: start;
        width: 110%;
        background-color: hsl(217, 22%, 12%);
        color: var(--color-primary-rotate);
        padding: 20px;
        box-shadow: var(--shadow-btn);

        a {
            color: white;
            font-weight: bold;
            font-size: var(--font-size-s);
            padding: 20px;
        }
        a:hover {
            color: var(--color-primary-rotate);
            background-color: white;
            width: 100%;
            padding: 20px;
        }
    }
    .create-button-container {
        position: relative;
        margin-left: auto; 
        z-index: 2;
        .btn {
            &.btn-create-post {
                font-size: var(--font-size-xxxl);
                position: relative;
                align-items: center;
                padding-right: 30px;
            }
        }
    }

    /* Show hamburger on small screens */
    .hamburger {
        display: block;
    }

    /* Show the menu when active class is added */
    nav.active {
        display: flex;
    }
}
