<%# /views/posts/new.html.erb %>
<%# New post form, targets turbo_post frame.  %>

<%= turbo_frame_tag "turbo_post" do %>
    <div class="form-container">
        <div class="content">
        <h2>New Post</h2>
        <br />
        <%= render "form", post: @post %>
        </div>
    </div>
<% end %>