.btn {
    position: relative;
    display: inline-block;
    border: none;

    &.btn-primary {
        background-color: transparent;
        img {
            filter: brightness(0) saturate(100%) invert(30%) sepia(100%) saturate(100%) hue-rotate(180deg);
        }
    }
    &.btn-primary:hover {
        cursor: pointer;
        img {
            filter: none;
        }
    }

    &.btn-create-post {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: end;
        font-size: var(--font-size-xxl);
        width: 50px;
        height: 50px;
        top: 40%;
        left: 100%;
        z-index: -1;
        // border: var(--border-light);
        border-radius: var(--border-radius-round);
        background-color: hsl(217, 22%, 12%);
    }

    &.btn-secondary {
        display: inline-block;
        // padding: 10px 20px;
        background-color: transparent;
        color: var(--color-primary-rotate);
        font-size: var(--font-size-s);
        cursor: pointer;
        // border-radius: 5px;
        text-align: start;
        // border-bottom: solid 2px;
        font-weight: bold;
    }
    &.btn-secondary:hover {
        filter: brightness(1.1);
    }

    &.back {
        color: var(--color-primary-rotate);
        font-size: var(--font-size-s);
    }
    &.edit {
        color: var(--color-primary-rotate);
        font-size: var(--font-size-s);
        padding-right: var(--space-m);
    }
    &.delete {
        color: var(--color-primary-rotate);
        font-size: var(--font-size-s);
    }
}


/* Tooltip styles */
.btn[data-tooltip]:hover::after {
    content: attr(data-tooltip); /* The content will be the text from data-tooltip */
    position: absolute;
    top: 130%; /* Position the tooltip above the button */
    left: -30%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    font-size: var(--font-size-xs);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.btn[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}
