.canvas {
    position: relative;
    max-width: 100%;
    height: 400px; /* Or any required height */
    // background-color: rgba(172, 25, 25, 0.199); 
}


canvas {
    position: absolute;
    left: 0;
    top: 0;
    display: block; /* Remove any unwanted padding/margins */
    width: 100%; /* Responsive width */
    height: 100%; /* Responsive height */

    

}
.textMeshClass {
    font-size: var(--font-size-xxxl);
    filter: brightness(0.5);
}