.form-container {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    padding: var(--space-m);

}

.new-post-form {
    font-size: var(--font-size-xl);
}

.form_field {
    margin-bottom: var(--space-m);

    .field_label {
        display: block;
        margin-bottom: var(--space-xxxs);
    }
    .field_input {
        width: 100%;
        // display: block;
    }
}


.boolean_field {

    .boolean-label {
        display: block;
        width: 100%;
        // border: solid 1px black;
    }
    .boolean-input {
        margin-right: var(--space-xxs);
    }
    .checkbox {
        margin-right: var(--space-m);
    }
}

