.form-container {
    display: flex;
    flex-direction: column;
    // padding: var(--space-m);
    // font-size: var(--font-size-l);

    .post-navi {
        .btn.back {
            color: var(--color-primary-rotate);
            font-size: var(--font-size-s);
        }
        .svg {
            padding-top: 0px;
            padding-right: 5px;
        }
    }
    
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    font-size: var(--font-size-m);
    color: grey;

    .field {
        display: flex;
        flex-direction: column;
        gap: var(--space-xxs);

        input {
            padding: var(--space-xs);
            font-size: var(--font-size-xl);
            outline: none;
        }

        input:focus {
            border-bottom: 2px solid var(--color-primary-rotate); /* Add a bottom border on focus */
            font-size: var(--font-size-xl); /* Add a soft blue shadow */
        }
        input::placeholder {
            font-size: var(--font-size-s);
        }
    }

    .title {
        max-width: 50%;
        input{
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    .description {
        max-width: 100%;
        input {
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    .cover-image {
        display: flex;
        flex-direction: column;
        max-width: 300px;
            /* Hide the actual file input */
        .file-input {
            display: none;
        }
        
        /* Style the custom label */
        .file-label {
            display: inline-block;
            // justify-content: start;
            // padding: 10px 20px;
            background-color: transparent;
            color: var(--color-primary-rotate);
            font-size: var(--font-size-s);
            cursor: pointer;
            // border-radius: 5px;
            // text-align: center;
            // border-bottom: solid 2px;
            font-weight: bold;
        }

        .file-label:hover {
            filter: brightness(1.1);
        }
        img {
            max-width: 300px;
            height: auto;
        }
    }

    .category {
        display: flex;
        flex-direction: row;
        // border: solid 1px black;

        .check-box {
            display: flex;
            flex-direction: row;
            padding-right: var(--space-s);
            gap: var(--space-xxs);

            input[type="checkbox"] {
                transform: scale(1.3); /* Increase size by 1.5 times */
                margin: 2px;
                cursor: pointer;
            }
            label {
                cursor: pointer;
            }        
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
        }
    }

    .sub-container {
        display: flex;
        gap: var(--space-m);

        .keyword {
            display: flex;
            flex-direction: row;
            position: relative;

            .keyword-wrapper {
                position: relative; /* This makes sure the suggestions are positioned relative to the input */
                // width: 100%;
                ul {
                    list-style-type: none;  /* Remove bullets */
                    li {
                        color: var(--color-text-body);
                        padding: var(--space-xxxs);
                        text-decoration: none;  /* Remove text decoration */
                        .add {
                            color: var(--color-primary-rotate);
                        }
                    }
                }
            }

            input {
                // border: none;
                border-top: none;
                border-left: none;
                border-right: none;
                font-size: var(--font-size-s);
                // white-space: nowrap;
            }
       
            input:focus {
                border-bottom: 2px solid var(--color-primary-rotate); /* Add a bottom border on focus */
                font-size: var(--font-size-s); /* Add a soft blue shadow */
            }

            .keyword-suggestions {
                position: absolute;
                width: 100%;
                top: 100%;
                padding-left: var(--space-xxs);
                background-color: white;
                // border: solid 1px grey;
                // margin-top: 1px;
                box-shadow: var(--shadow-btn);
                border-top: none;
                z-index: 100;
                cursor: pointer;
            }
        }
        .difficulty {
            display: flex;
            flex-direction: row;
            align-items: center;
            select {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid 2px grey;
                padding: var(--space-xs);
                font-size: var(--font-size-s);
            }
            select:focus {
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 2px solid var(--color-primary-rotate); /* Add a bottom border on focus */
                font-size: var(--font-size-s); /* Add a soft blue shadow */
            }
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            
        }
    }

    .keywords-list {
        display: flex;
        flex-direction: row;
        gap: var(--space-s);

        .keyword-item {
            display: inline-block;
            position:relative;
            padding: var(--space-xxxs);
            border: solid 1px rgb(131, 131, 131);
            color: white;
            padding-left: 10px;
            padding-right: 10px;
            box-shadow: var(--shadow-btn);
            transform: skew(-20deg);
            background-color: var(--color-primary);
            font-size: var(--font-size-xs);
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
        .keyword-item:hover {
            cursor: pointer;
        }

        .remove-keyword {
            position: absolute;
            display: flex;
            justify-content: center;

            left: 81%;
            top: -15%;
            color: white;

            font-size: var(--font-size-xs);
            font-weight: bold;
            margin-left: 10px;
            cursor: pointer;
    
        }
    }

    .section {
        // max-width: 500px;
        .btn {
            &.btn-secondary {
                margin-top: -20px;
            }
        }
    }
}


