.post-container {
    border: var(--border-light);
    padding: 20px;
}

.post-navi {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .svg {
        // margin-top: -5px;
        padding-right: 5px;
    }
}

.post-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.created-by {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
    color: grey;
    font-size: var(--font-size-s);
    .author {
        display: inline-flex;
        gap: var(--space-xs);
        align-items: center;
    }
    .created {
        display: inline-flex;
        gap: var(--space-xs);
        align-items: center;
    }

    .svg {
        width: 20px;
        height: 20px;
    }
}

.post-cover {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin-left: auto;       /* Automatically adjust the left margin */
    margin-right: auto; 
    img {
        display: flex;
    }
}

.keyword-item {
    display: inline-block;
    padding: var(--space-xxxs);
    // border: solid 1px rgb(131, 131, 131);
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: var(--shadow-btn);
    transform: skew(-20deg);
    background-color: var(--color-primary);
    font-size: var(--font-size-xs);
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.post-main {

}