trix-editor {
    resize: both;            /* Enables both horizontal and vertical resizing */
    overflow: hidden;        /* Ensures content doesn't overflow when resized */
    min-width: 300px;        /* Minimum width */
    min-height: 150px;       /* Minimum height */
    background-color: white;
  }

  .rich-text-image {
    display: block;          /* Make the image block-level */
    margin-left: auto;       /* Automatically adjust the left margin */
    margin-right: auto; 
    max-width: 100%;          /* Prevent the image from overflowing horizontally */
    max-height: 100%;        /* Set the maximum height */
    height: auto; 
  }