  <!-- Breadcrumb Navigation -->
  <div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <!-- Home Link -->
      <li class="breadcrumb-item"><%= link_to "Home", root_path, data: { turbo_frame: "main_content_frame" }  %></li>
      
      <!-- Posts Link -->
      <% if @category %>
        <li class="breadcrumb-item"><%= link_to @category.capitalize, root_path(category: @category) %></li>
      <% end %>

      <!-- Current Post (No link for the current page) -->
      <li class="breadcrumb-item active" aria-current="page"><%= @post.title %></li>
    </ol>
  </div>