<div class="footer-info">
    <h3>Thanks for visting!</h3>
    <br />
    <br />
    <p>Hope you found what you were looking for.</p>
    <br />
    <p>&copy; <%= Time.now.year %> David Gim</p>
</div>
<div class="footer-logo">
    <%= image_tag("logo.svg") %>
</div>